body { background: #79aa5a; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 27px; display: flex; }
.block-cluster-0 { color: #a1c508; font-size: 16px; margin-bottom: 5px; }
.block-token-1 { color: #a4c48c; font-size: 19px; margin-bottom: 5px; }
.block-config-2 { color: #bb6d9c; font-size: 19px; margin-bottom: 5px; }
.block-cluster-3 { color: #11b6e0; font-size: 19px; margin-bottom: 5px; }
.block-user-4 { color: #addf6d; font-size: 15px; margin-bottom: 5px; }
.block-cart-5 { color: #6833d9; font-size: 12px; margin-bottom: 5px; }
.block-database-6 { color: #3c97d6; font-size: 20px; margin-bottom: 5px; }